<form [formGroup]="exampleForm" (submit)="handleFormSubmission()">
  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Nome" />
    </mat-form-field>

    <app-auto-complete-input
      placeholder="Estado"
      [collection]="brazilianStates"
      [options]="autoCompleteInputOptions"
      [abstractFormControl]="exampleForm.controls.state"
    ></app-auto-complete-input>
  </div>

  <button [disabled]="exampleForm.invalid" type="submit">Bora!</button>
</form>
