<app-auto-complete-input></app-auto-complete-input>

<form [formGroup]="exampleForm">
  <div>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Name" />
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="State"
        formControlName="state"
        [matAutocomplete]="auto"
      />

      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="getStateByCode.bind(this)"
      >
        <mat-option
          *ngFor="let state of filteredBrazilianStates | async"
          [value]="state.codigo"
        >
          {{ getStateByCode(state.codigo) }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <button (click)="handleConsolePrint()">Console!</button>
</form>
